h1
/*connects to the header h1*/
{
    color:rgba(76, 24, 24, 0.873);
     /* changes the color to the header*/
                            font-family:impact;
                        /*changes the font you can choose*/
                            text-align:center;
                        /*this make the text in the middle*/
                            text-shadow: 2px 2px rgb(255, 241, 241);
                            /*but cool shadow under text and get to choose color and how much shadow is shown*/
                            background-color: rgb(255, 200, 200); width:1500px; height: 100px; align-self: center; align-content: center;
                            /*puts color behind the header, chose height, wdith, color, and to align tect in center rather than to high up of down*/
                            border: 2px solid rgb(155, 73, 73);
                            border-radius: 5px;
}


 p
 /*connects to the p section*/
{
    border-top-style: dotted; 
    /*puts dotted line across page above the text*/
    color:rgb(152, 62, 62);
    /*color of the text */
    font-family:Georgia;
    /*changes the font of text*/
    text-align: center;
    /*aligns the text in the center*/
    
}

h2
{
    color:rgb(80, 34, 34);
    /*color of the text */
    font-family:Georgia;
    /*changes the font of text*/
    text-shadow: 2px 2px rgb(255, 204, 204);
    /*shadow under text*/
    text-align: left;
    /*aligns the text to the left*/
    
}



p2
{
    color:rgb(152, 62, 62);
    font-family:Georgia;
    text-align: center;
    width: 40%;
    
    
    
}



.image-container 
{
    position:relative;
    
/*connect to figure on the html*/

    float:left;
    /*floats the image to the left so text and be next to the image convientent*/

    padding: 20px;
    /*move image away from the right of the webpage*/

    width: 400px;
}

.image-container img
{
    float:left;
    /*floats the image to the left so text and be next to the image convientent*/

    padding: 10px;

    width: 100%;
    display: block;
}

.image-container .overlay 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover img
{
    transform: scale(1.1);
}

.image-container:hover .overlay 
{
  opacity: 1;
}






.image2-container 
{
    position:relative;
    
/*connect to figure on the html*/

    float:right;
    /*floats the image to the left so text and be next to the image convientent*/

    padding: 60px;
    /*move image away from the right of the webpage*/

    width: 300px;
}

.image2-container img2
{
    float:right;
    /*floats the image to the left so text and be next to the image convientent*/

    padding: 60px;

    width: 100%;
    display: block;
}

.image2-container .overlay 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image2-container:hover img2
{
    transform: scale(1.1);
}

.image2-container:hover .overlay 
{
  opacity: 1;
}




html 
{
background-color:rgb(244, 164, 164);
}
/*changes the background color of webpage*/